.datagrid {
    min-height: 50vh;
    padding: 1rem;
}

.table-container {
    width: 100%;
    margin: 1rem;
}

.search-bar {
    padding: .5rem 1rem;
}

.license {
    font-size: .8rem;
    margin-left: 1rem;
}

.btn {
    transition: all .2s;
    border: 1px solid #000;
    margin-left: .5rem;
    margin-bottom: 1rem;
}

.btn:hover {
    background-color: aliceblue;
}